worker_processes  1;
events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

	server {
		listen 80;
		server_name	intranet.dev i.dev;
        location / {
            proxy_pass https://localhost:8080;
            proxy_set_header Host $host;
        }
	}

	server {
		listen 80;
		server_name	pma.dev;
		location / {
			proxy_pass http://localhost:8090;
			proxy_set_header Host $host;
		}
	}

    server {
            listen 80;
            server_name     log.dev;
            location / {
                    proxy_pass http://localhost:8060;
                    proxy_set_header Host $host;
            }
    }

	server {
		listen 80;
		server_name	haproxy.dev;
		location / {
			proxy_pass http://localhost:8060;
			proxy_set_header Host $host;
		}
	}

	server {
        	listen 80;
        	server_name     mailcatcher.dev;
        	location / {
        	        proxy_pass http://localhost:8070;
        	        proxy_set_header Host $host;
        	}
	}

}
